/* Payment Page Styles */

.payment-page {
    width:30%;
    height: auto;
    margin-top: 50px;
    margin-left: 230px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:lightgray;
  }
  .payment-img{
    width:40vw;
    height: 60vh;
    margin-top: 90px;
    margin-left:50px;
  }
  .payment-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
  }
  
  .payment-form div {
    margin-bottom: 15px;
  }
  
  .payment-form label {
    font-weight: bold;
  }
  
  .payment-form input[type="text"],
  .payment-form input[type="date"],
  .payment-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .payment-form select {
    appearance: none;
  }
  
  /* Optional: Styles for form validation */
  .payment-form input:invalid {
    border-color: red;
  }
  
  .payment-form .button-cancel{
    margin-left:10px;
  }