
  
  .login-page{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .login-page img{
    width: 100%;
    height: 70vh;
  }
  .login-con{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
  }
  
  .login-con input{
    outline: none;
    border: none;
    width: 30vh;
    height: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 18px;
    padding: 5px 10px;
    font-family: "Montserrat",sans-serif;
  
  }
  .login-con button:hover{
    cursor: pointer;
    transform: scale(105%);
    box-shadow: 0 0 2px 2px rgb(255,166,0);
  }
  .heading{
    font-size: 35px;
    font-weight: 600;
    color: rgb(255, 166, 0);
  }
  .login-con button{
    width: 20vh;
    height: 40px;
    font-size: 18px;
    background-color: rgb(255, 166, 0);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-family: "Montserrat",sans-serif;
  
  }
  
  .login-con input:focus{
    border-bottom: 2px solid rgb(255, 166, 0);
  }
  .login-con select{
    padding: 7px;
    width: 25%;
    margin-right:100px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-top: -20px;
}
.login-con.signupbtn{
    text-decoration: none;

}
.login-con label{
    margin-right: 100px;
}
.login-con .sign-btn{
    margin-left: 60px;
    text-align: center;
}